{% extends 'festival/base.html' %}
{% block content %}

<h2>{{ venue.name }}</h2>

<p><strong>Dirección:</strong> {{ venue.address }}</p>
<p><strong>Descripción:</strong> {{ venue.description }}</p>
<p><strong>Aforo:</strong> {{ venue.max_capacity }}</p>

<h3>Instalaciones ubicadas aquí:</h3>
<ul>
  {% for inst in installations %}
    <li>{{ inst.title }} — {{ inst.artist.name }} — {{ inst.edition.year }}</li>
  {% empty %}
    <li>No hay instalaciones en este lugar.</li>
  {% endfor %}
</ul>

{% endblock %}
